/* =========================
 table of contents
============================
 
1. Left Section 
2. Right Section 
3. Media Query
*/

main.flex {
  gap: 2.64rem;
  align-items: start;
}

/* ==================
    1. Left Section 
====================
*/
main section.left-section {
  flex-direction: column;
  gap: 10px;
}

main section.left-section button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.3s;
}

main section.left-section button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  padding: 0.8rem 0;
  border: 1px solid var(--blue);
}
.light main section.left-section button.active {
  border: 1px solid #000;
}
main section.left-section button:hover {
  opacity: 1;
  transition: 0.3s;
  box-shadow: 1px 1px 15px 5px var(--bgHover);
}

/* ==================
    2. Right Section 
====================
*/
main section.right-section {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 2rem;
}
.card {
  /* border: 1px solid rgba(93, 188,252, .03); */
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--border);
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}
.light .card {
  border: none;
}
.light .card:hover {
  border: 1px solid var(--bgHover);
  background-color: rgb(248, 248, 248);
}
.card:hover {
  border: 1px solid var(--bgHover);
  background-color: rgba(120, 96, 96, 0.3);
  transition: 0.3s;
  scale: 1.01;
  rotate: 2deg;
  cursor: pointer;
  box-shadow: 1px 1px 35px 4px var(--bgHover);
}
main section.right-section article.card .box {
  padding: 1rem 0.4rem;
  height: 12rem;
  position: relative;
}

.card img {
  border-radius: 5px;
  height: 10rem;
}
main section.right-section article.card .box .title {
  color: var(--title);
  letter-spacing: normal;
  text-transform: capitalize;
}
main section.right-section article.card .box .subtitle {
  overflow: hidden;
  height: 6rem;
  letter-spacing: normal;
  color: var(--subtitle);
  font-size: 0.8rem;
  /* margin-top: 0.7rem; */
  margin-top: 10px;
  /* margin-bottom: 1.1rem; */
  margin-bottom: 10px;
}

main section.right-section article.card .box .icons {
  justify-content: space-between;
}
main section.right-section article.card .box .icons .icon-github {
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
}

main section.right-section article.card .box .icons .icon-link {
  position: absolute;
  bottom: 0.8rem;
  left: 7rem;
}
main section.right-section article.card .box .icons .more {
  position: absolute;
  bottom: 0.8rem;
  right: 0.3rem;
  color: var(--blue);
}

.card .icon-github,
.card .icon-link {
  color: var(--subtitle);
  font-size: 1.2rem;
}
.card .icon-github:hover,
.card .icon-link:hover {
  color: var(--icon-hover);
  cursor: pointer;
  font-size: 1.25rem;
  transition: 0.3s;
}

.card a.link {
  color: var(--blue);
  font-size: 0.9rem;
  margin-right: 12px;
}

/*Modal*/
main button.icon-close {
  font-size: 1.5rem;
  color: var(--subtitle);
  transition: 0.3s;
}

main button.icon-close:hover {
  font-size: 1.7rem;
  color: crimson;
  rotate: 180deg;
  transition: 0.5s;
}

main .fixed {
  position: fixed;
  inset: 0; /*= left=0 & right=0 & top=0 & bottom=0 */
  z-index: 11;
  background-color: rgba(40, 40, 48, 0.91);

  /* filter: blur(8px); */
  backdrop-filter: blur(4px);
}

@keyframes mymove {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

main .fixed ul.modal {
  animation: mymove 0.7s 1;
  width: 75%;
  height: 94%;
  overflow: auto;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  color: var(--title);
}

main .fixed ul.modal li.features {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.77rem;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
  list-style: disc;
}

main .fixed ul.modal h1 {
  font-size: 2.5rem;
  margin-bottom: 1.1rem;
}
main .fixed ul.modal .pragraph {
  padding: 5px 5px 10px 5px;
  font-size: 1rem;
  margin-bottom: 1.1rem;
  line-height: 1.6rem;
  box-shadow: 0px 1px var(--bgHover);
}

main .fixed ul.modal li.close {
  text-align: right;
  border: none;
  padding-bottom: 0rem;
  padding-top: 0.2rem;
  margin-bottom: -1rem;
}
main .fixed ul.modal li:last-child {
  border: none;
}

/*
=======================
3. Media Query
=======================
*/

@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    align-items: center;
    gap: 2.64rem;
  }
  main section.left-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  main section.left-section button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
}
