section.experience h1.title{
    font-size: 2.1rem;
    /* line-height: 3.3rem; */
    /* margin: 24px 0; */
    color: var(--title);
}

section.experience .briefcase{
     font-size: 1.8rem;
    color: var(--subtitle);
    margin-right: 1rem;
}

section.experience .subtitle h2{
    color: var(--subtitle);
    margin-left: 2rem;
    line-height: 3.65rem;
}
section.experience .subtitle p{
    color: var(--subtitle);
    margin-left: 2rem;
    margin-bottom: 2rem;
    /* line-height: 3.65rem; */
}
section.experience .body{
    margin-bottom: 1rem;
}
section.experience .body li{
    list-style-type: disc; 
    color: var(--subtitle);
    margin-left: 3.5rem;
    line-height: 1.5rem;
    
}
